<section id="about" class="about-selection-padding">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="about-img">
          <img src="https://res.cloudinary.com/dyyzftmya/image/upload/w_800,h_200,c_crop/new_y0vgig.jpg" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="about-text">
          <h2>New Arrivals</h2>
          <p>Discover the new arrivals collection, curated with refined fabrics and designed with the mindset of creating quality clothing that lasts. One Night Fit believes in the longevity of its product life whereby quality, design, comfort and craftsmanship result in durable and garments styled to stand the test of time.</p>
        </div>
      </div>
    </div>
</section>


<section id="portfolio" class="portfolio section-padding mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pd-5">
          <h2></h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-12 col-md-12 col-lg-3">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <%= link_to article_path(article) do%>
                <% if article.photos.attached? %>
                  <%= cl_image_tag article.photos.first.key, class:"img-fluid ", :width=>400, :height=>600, :gravity=>"auto", :crop=>"fill" %>
                <% else  %>
                  <img src="https://anindigoday.com/wp-content/uploads/2021/03/how-to-condition-a-leather-jacket.jpg" alt="" class="img-fluid">
                <% end %>
              <% end %>
            </div>
            <p class="card-title text-muted"><%= article.name%></p>
            <p class="lead text-muted"><small><span>CA$</span> <%= article.price  %></small></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
