<h1>Index of bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>Booking id: <%= booking.article_id %></li>
    <li>Booking user id: <%= booking.user_id %></li>
    <li>Booking status: <%= booking.status %></li>
    <li>Comment: <%= booking.comment %></li>
  <% end %>
</ul>
