<div class="container mt-4 d-flex align-items-center">
  <h2>New Booking</h2>
</div>

<div class="container">
  <div class="row">
    <%= simple_form_for([@article, @booking]) do |f| %>
      <%= f.input :comment %>
        <%= f.submit :Submit, class: "btn btn-flat" %>
    <% end %>
  </div>
  <%= link_to 'Back', article_path(@article), class: "btn btn-primary mt-5" %>
</div>
