

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1599397142402-3bd33b21d599?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1><strong>Make a fashion statement just for the night!</strong></h1>
    <p>Find your Fit</p>
    <a class="btn btn-flat" href="#">Shop now</a>


  </div>
</div>
<h3>Popular items</h3>

<p> <%= link_to "All posts", articles_path %></p>
