
<style>
.carousel-item {
height: 32rem;
background: #000;
color: white;
position: relative;

}

.overlay-image {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.services .card-body i {
  font-size: 50px;
}

</style>
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class= "carousel-item active" >
      <div class="overlay-image" style="background-image: url(https://res.cloudinary.com/dyyzftmya/image/upload/v1669856498/creativefred-oat3l0iVwPs-unsplash_mkqaee.jpg)"></div>
      <div class="container h-100 position-relative">
        <div class= "position-absolute bottom-0 start-20 m-5" >
        <h1>One Night Fit</h1>
        <p>Make a fashion statement for one night</p>
        <div class="btn btn-lg btn-success ">
                <%= link_to "Shop Now", articles_path, :class => "btn" %>
              </div>
      </div>
      </div>
    </div>
    <div class= "carousel-item">
    <div class="overlay-image" style="background-image: url(https://images.unsplash.com/photo-1579298245158-33e8f568f7d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1790&q=80)"></div>
      <div class="container h-100 position-relative">
        <div class= "position-absolute bottom-0 start-20 m-5" >
        <h1>One Night Fit</h1>
        <p>Make a fashion statement for one night</p>
        <div class="btn btn-lg btn-warning ">
                <%= link_to "Shop Now", articles_path, :class => "btn" %>
         </div>
      </div>
      </div>
    </div>
    <div class= "carousel-item">
    <div class="overlay-image" style="background-image: url(https://res.cloudinary.com/dyyzftmya/image/upload/v1669859593/laura-chouette-Kw0jmX8MGqc-unsplash_lxq46i.jpg)"></div>
      <div class="container h-100 position-relative">
        <div class= "position-absolute bottom-0 start-20 m-5" >
        <h1>One Night Fit</h1>
        <p>Make a fashion statement for one night</p>
         <div class="btn btn-lg btn-dark ">
                <%= link_to "Shop Now", articles_path, :class => "btn" %>
              </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
  <span class="sr-only">previous</span>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
  <span class="sr-only">previous</span>
  <span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>




<section id="portfolio" class="portfolio section-padding mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pd-5">
          <h2>Popular fits</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-3">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <img src="https://res.cloudinary.com/dyyzftmya/image/upload/v1669866422/stepan-kulyk-qRvEJj-Npwc-unsplash_cqclq1.jpg" alt="" class="img-fluid">
            </div>
            <h3 class="card-title">Building Make</h3>
            <p class="lead">Text Here</p>
            <button class="btn bg-warning text text-dark">view</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-3">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <img src="https://res.cloudinary.com/dyyzftmya/image/upload/v1669912967/mostafa-meraji-jbCdjcPFZxA-unsplash_1_ly8hpm.jpg" alt="" class="img-fluid">
            </div>
            <h3 class="card-title">Building Make</h3>
            <p class="lead">Text Here</p>
            <button class="btn bg-warning text text-dark">view</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-3">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <img src="https://res.cloudinary.com/dyyzftmya/image/upload/v1669913115/sour-moha-reIwXKVcN7Q-unsplash_v4t94i.jpg" alt="" class="img-fluid">
            </div>
            <h3 class="card-title">Building Make</h3>
            <p class="lead">Text Here</p>
            <button class="btn bg-warning text text-dark">view</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-3">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <img src="https://res.cloudinary.com/dyyzftmya/image/upload/v1669913399/sabesh-photography-TPwHjQy21O4-unsplash_ufyxzk.jpg" alt="" class="img-fluid">
            </div>
            <h3 class="card-title">Building Make</h3>
            <p class="lead">Text Here</p>
            <button class="btn bg-warning text text-dark">view</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
